.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes zoom {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 5px;
  animation: zoom 0.5s;
}